.container {width: 1200px;}

/* Styles für alle Seiten*/

p {font-size: 25px;color: black;}

img {width: 20%;}

li a {text-decoration: none;}


/*Header*/

header {display: flex;background: linear-gradient(green,lightgreen);height: 150px;
border: 3px;border-radius: 10px;border-color: transparent;align-items: center;}
header ul {display: flex; gap: 40px;}
header ul li {font-size: 30px;font-weight: 600;}


/*Body und main*/

body {background: radial-gradient(lightgreen, green);height: 100%;display: flex;flex-direction: column;min-height: 100vh;}

main {display: flex;align-items: center;flex-direction: column;flex: 1;}


/*Footer*/

footer {display: flex;margin-bottom: 0%;justify-content: center;}
footer ul {display: flex; gap: 15px;}
footer ul li {text-wight: 300px}
footer ul li a {color: white;display: flex;}


/*Sektionen und Klassen*/

#Logo {height: 150px;width: auto;display: flex;align-content: center;}

#Text_Überschrift {display: flex;justify-content: flex-start;flex-direction: column;align-items: flex-start;margin-inline-start: 10%;}

#Bildtext {display: flex;justify-content: flex-start;align-items: flex-start;background: radial-gradient(lightgreen,yellowgreen,green);
border: 3px solid black;border-style: inset;border-radius: 5px;}

#Seitenüberschrift {font-size: 40px;margin-inline-start: 2cap;margin-bottom: 0%;}

#Seitenmenü {width: 200px;margin-top: 0px;width: max-content;align-self: flex-start;}
#Seitenmenü h2 {text-align: center;font-family: sans-serif;}
#Seitenmenü nav {border: 3px;border-color: black;border-radius: 5px;}
#Seitenmenü ul  {display: flex; flex-direction: column;padding-inline-start: 0%; gap: 10px;width: max-content;}
#Seitenmenü ul li {font-size: 30px;border: 2px;border-style: solid;border-color: black;border-radius: 5px;}

#Seitenmenü ul li:nth-child(1) {background-color: blueviolet;} #Seitenmenü ul li:nth-child(1) a {color: white;}
#Seitenmenü ul li:nth-child(2) {background-color: rgb(53, 51, 51);} #Seitenmenü ul li:nth-child(2) a {color: yellowgreen;}
#Seitenmenü ul li:nth-child(3) {background-color: green;} #Seitenmenü ul li:nth-child(3) a {color: orange;}
#Seitenmenü ul li:nth-child(4) {background-color: rgb(232, 245, 50);} #Seitenmenü ul li:nth-child(4) a {color: blue;}
#Seitenmenü ul li:nth-child(5) {background-color: blue;} #Seitenmenü ul li:nth-child(5) a {color: white;}
#Seitenmenü ul li:nth-child(6) {background-color: aqua;} #Seitenmenü ul li:nth-child(6) a {color: black;}

.Hamburger {display: none;}





















nav ul li {display: flex; gap: 15px;}





#Bildtext_About, #Bildtext_Motivation, #Bildtext_Mission {display: flex;justify-content: flex-start;align-items: flex-start;background: radial-gradient(lightgreen,yellowgreen,green);
border: 3px solid black;border-style: inset;border-radius: 5px;}
#Bildtext_About a, #Bildtext_Motivation a, #Bildtext_Mission a {margin-top: 0px;margin-bottom: 0px;font-family: sans-serif;font-size: 27px;background-color: transparent;}

.FAQs {display: flex;justify-content: flex-start;flex-direction: column;align-items: flex-start;margin-inline-start: 10%;}
.FAQs p {border: 1px;border-style: solid;border-radius: 3px;background: linear-gradient(lightgreen,green);}































